:root {
  --color-primary-dark: #335d2d;
  --color-primary-light: #7ea04d;
  --color-secondary-dark: #af4e4e;
  --color-secondary-light: #ffb0b0;
}
.App {
  text-align: center;
  background-color: var(--color-primary-light);
  color: white;
}

button {
  background-color: var(--color-secondary-light);
  border: 0px;
  padding: 10px 30px;
  border-radius: 20px;
  box-shadow: 3px 3px 0px var(--color-secondary-dark);
  transition: all .2s ease-in-out;
}

button:hover {
  transform: scale(1.1);
}

.footer {
  background-color: var(--color-primary-dark);
  padding: 10px;
  margin-top: 20px;
}